<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">WoloXChallenge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/myControlPanel" tabindex="-1" aria-disabled="true">Mis Albumes </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myAlbumesShared" tabindex="-1" aria-disabled="true">Albumes Compartidos</a>
                </li>
                {{#if usersesion}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Salir</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>