<form action="/shareAlbum" method="post">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="form-group mt-2">
                <div class="input-group">
                    <p class="h5">Mis Albumes</p>
                </div>
                <div class="input-group">
                    <p class="small">compartir o modificar permisos de los albumes</p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2"> <i class="fas fa-folder"></i></span>
                    </div>
                    <select name="SL_myAlbumes" id="SL_myAlbumes" class="custom-select" required>
                        {{#each albums as |album|}}
                        <option id="op_album" {{@index}} value='{{album.id}}'>{{album.title}}</option>
                        {{/each}}

                    </select>
                    &nbsp;
                    <a href="" data-toggle="collapse" data-target="#collapseShare" aria-expanded="true"
                        aria-controls="collapseShare"><i class="fas fa-share-alt fa-2x"></i></a>


                </div>

            </div>
        </div>
    </div>
    <div id="collapseShare" class="collapse">
        <divclass="row">
            <div class="col-md-6 mx-auto">
                <div class="form-group">
                    <div class="input-group">
                        Compartir con:
                    </div>
                    <div class="input-group">
                        <input type="text" name="ip_userToShare" id="ip_userToShare" class="form-control"
                            placeholder="Correo del usuario" required>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="chk_read" name="chk_read" value="1">
                            <label class="form-check-label" for="chk_read">Lectura</label>
                        </div>

                        <div class="form-check form-check-inline">

                            <input type="checkbox" class="form-check-input" id="chk_write" name="chk_write" value="1">
                            <label class="form-check-label" for="chk_write">Escrituta</label>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="input-group">
                        <button type="submit" id="btn_share" class="btn btn-success btn-block">Compartir</button>
                    </div>
                </div>
            </div>
    </div>
</form>